<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Our Total join Users are <%= totalUser%></h1>
    <form method="get" action="/user/new">
        <button class="create">Join us Today</button>
    </form>
    <br>
    <form method="get" action="/user">
        <button class="edit">See Users</button>
    </form>
</body>
</html>